{{define "link" -}}
{{range .}}    <link rel="prefetch" href="/p/{{.ID}}-{{.Title | replaceHover}}">
{{end}}
{{- end}}

{{define "content"}}
    <div class="wall" style="text-align:center;">
        {{range .}}
        {{if .Ispublic}}<a href="/p/{{.ID}}-{{.Title | replaceHover}}"><img alt="{{.Title}} Photo by Toomore" data-src="https://farm{{.Farm}}.staticflickr.com/{{.Server}}/{{.ID}}_{{.Secret}}_q.jpg"></a>{{end}}{{end}}
    </div>
    <gcse:search></gcse:search>
    <div>
        <!-- photos -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8083183430499740"
             data-ad-slot="4329274259"
             data-ad-format="auto"></ins>
    </div>
{{end}}

{{define "js"}}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/jquery.unveil.min.js"></script>
    <script defer="defer">
        $(function() { $(".wall").find("img").unveil(300); });
    </script>
	<script>
	  (function() {
		var cx = '009900412648408179576:qtr4qxps0cu';
		var gcse = document.createElement('script');
		gcse.type = 'text/javascript';
		gcse.async = true;
		gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(gcse, s);
	  })();
	</script>
{{end}}

{{define "og" -}}
    <title>Toomore Photos</title>
    <meta name="description" content="From here to see what I see.">
    <meta property="og:title" content="Toomore Photos">
    <meta property="og:description" content="From here to see what I see.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://photos.toomore.net/">
    <meta property="og:image" content="https://toomore.net/img/IMG_9872_16x9.jpg">
    <meta property="og:site_name" content="Toomore Photos">
{{- end}}
