{{define "link" -}}
{{range .L}}    <link rel="prefetch" href="/p/{{.ID}}-{{.Title | replaceHover}}">
{{end}}
{{- end}}

{{define "content"}}
    <div class="wall" style="text-align:center;">
        {{range .R}}
        {{if .Ispublic}}<a href="/p/{{.ID}}-{{.Title | replaceHover}}"><img alt="{{.Title}} Photo by Toomore" data-src="https://farm{{.Farm}}.staticflickr.com/{{.Server}}/{{.ID}}_{{.Secret}}_q.jpg"></a>{{end}}{{end}}
    </div>
    <div class="gcse-searchbox-only"></div>
{{end}}

{{define "js"}}
    <script async src='https://cse.google.com/cse.js?cx=partner-pub-8083183430499740:8193882340'></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/jquery.unveil.min.js"></script>
    <script defer="defer">
        $(function() { $(".wall").find("img").unveil(300); });
    </script>
{{end}}

{{define "og" -}}
    <title>Toomore Photos</title>
    <meta name="description" content="From here to see what I see.">
    <meta property="og:title" content="Toomore Photos">
    <meta property="og:description" content="From here to see what I see.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://photos.toomore.net/">
    <meta property="og:image" content="https://toomore.net/img/IMG_9872_16x9.jpg">
    <meta property="og:site_name" content="Toomore Photos">
{{- end}}
